
#APP
PORT=4000
NODE_ENV=DEVELOPMENT
VERSION=1.0.0


EMAIL=iamsujan@gmail.com
JWT_SECRET=kjhkjh
JWT_EXPIRES_IN=10d
PASSWORD=hjgjhgjhg

#TOKEN
ACCESS_TOKEN=hjgjhg
REFRESH_TOKEN=jhgiuy
REFRESH_TOKEN_EXPIRY=10d
ACCESS_TOKEN_EXPIRY=1d


#DATABASE
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

#FTP
FTP_HOST=
FTP_USER=
FTP_PASS=
FTP_PORT=
PRODUCTION_URL=