
#APP
PORT=
NODE_ENV=
VERSION=


EMAIL=
JWT_SECRET=
JWT_EXPIRES_IN=
PASSWORD=

#TOKEN
ACCESS_TOKEN=
REFRESH_TOKEN=
REFRESH_TOKEN_EXPIRY=
ACCESS_TOKEN_EXPIRY=


#DATABASE
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

#FTP
FTP_HOST=
FTP_USER=
FTP_PASS=
FTP_PORT=
PRODUCTION_URL=